* {
  font-family: 'Roboto', sans-serif;
}

.content {
  padding: 1rem;
  box-sizing: border-box;
}

.content h1 {
  margin: 0 0 20px 0;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 2rem 1rem;
  background-color: #14a06f;
  color: #fff;
  border-radius: 1rem;
}

.pokemon .detail img {
  border-style: none;
  max-width: 100%;
  height: 100px;
  align-self: flex-end;
}